<div id="the-map" style="height:500px; width:100%; background-color:#eee">map placeholder</div>
  <ul class="usa-accordion-bordered">
    <li>
        <button class="usa-accordion-button"
          aria-controls="amendment-b-5">
          Map options
        </button>
        <div id="amendment-b-5" class="usa-accordion-content">
          <p>
          Types of things to show
          </p>
        </div>
    </li>
  </ul>

<script>
    var div = document.getElementById('the-map');

    // initialize the map on the "map" div with a given center and zoom
    var map = L.map(div, {
        center: [40, -100],
        zoom: (div.clientWidth > 600 ? 4 : 3)
    });

    L.tileLayer('http://c.tile.stamen.com/toner-lite/{z}/{x}/{y}@2x.png', {
        maxZoom: 18
    }).addTo(map);
    
    L.geoJSON({{ emergencies_geojson|tojson|safe }}).bindPopup(function (layer) {
        var p = layer.feature.properties;
        if(p.href) {
            return '<a href="' + p.href + '">' + p.description + '</a>';
        } else {
            return p.description;
        }
    }).addTo(map);
    
    {% if users_geojson %}

    L.geoJSON({{users_geojson|tojson|safe}},
        {
            pointToLayer: function(point, latlng) {
                var url = '{{ url_for("static", filename="marker-icon.png") }}',
                    url2x = '{{ url_for("static", filename="marker-icon-2x.png") }}',
                    url_ = '{{ url_for("static", filename="marker-shadow.png") }}',
                    opts = L.Icon.Default.prototype.options;
                return L.marker(latlng, { icon: L.icon({
                    iconUrl: url, iconRetinaUrl: url2x, shadowUrl: url_,
                    iconSize: opts.iconSize, iconAnchor: opts.iconAnchor,
                    popupAnchor: opts.popupAnchor, shadowSize: opts.shadowSize,
                    shadowAnchor: opts.shadowAnchor
                    }) })
            }
        }).bindPopup(function (layer) {
            var p = layer.feature.properties;
            return p.users + (p.users > 1 ? ' users in ' : ' user in ') + p.zip_code;
    }).addTo(map);
    
    {% endif %}

</script>
