<div id="the-map" style="height:500px; width:100%; background-color:#eee">map placeholder</div>
  <ul class="usa-accordion-bordered">
    <li>
        <button class="usa-accordion-button"
          aria-controls="amendment-b-5">
          Map options
        </button>
        <div id="amendment-b-5" class="usa-accordion-content">
          <p>
          Types of things to show
          </p>
        </div>
    </li>
  </ul>

<script>
    // initialize the map on the "map" div with a given center and zoom
    var map = L.map('the-map', {
        center: [40, -100],
        zoom: 3
    });

    L.tileLayer('http://c.tile.stamen.com/toner-lite/{z}/{x}/{y}@2x.png', {
        maxZoom: 18
    }).addTo(map);
    
    L.geoJSON({{ emergencies_geojson|tojson|safe }}).bindPopup(function (layer) {
        var p = layer.feature.properties;
        if(p.href) {
            return '<a href="' + p.href + '">' + p.description + '</a>';
        } else {
            return p.description;
        }
    }).addTo(map);

</script>
