<form id="profile-settings" class="usa-form" action="{{ url_for('post_profile') }}" method="post">
 <fieldset class="usa-fieldset-inputs usa-sans">

    <legend class="usa-sr-only">Alert options</legend>

    <label for="phone-number">Phone number</label>
    <input id="phone-number" name="phone-number" type="text" value="{{ phone_number }}">

    <label for="zip-codes">Zip code</label>
    <input id="zip-codes" name="zip-codes" type="text" value="{{ zip_codes }}">

    <ul class="usa-unstyled-list">
      <li>
        <input id="fire" type="checkbox" name="fire" value="truth" checked>
        <label for="fire">Fire</label>
      </li>
      <li>
        <input id="flood" type="checkbox" name="flood" value="truth" checked>
        <label for="flood">Flood</label>
      </li>
      <li>
        <input id="tsunami" type="checkbox" name="tsunami" value="truth" checked>
        <label for="tsunami">Tsunami</label>
      </li>
      <li>
        <input id="earthquake" type="checkbox" name="earthquake" value="truth" checked>
        <label for="earthquake">Earthquake</label>
      </li>
    </ul>

  </fieldset>
</form>

<h2>Email alerts</h2>

<form id="email-settings" class="usa-form" action="{{ url_for('post_email_address') }}" method="post">
 <fieldset class="usa-fieldset-inputs usa-sans">

    <legend class="usa-sr-only">Email address (optional)</legend>

    <label for="email-address">Email address (optional)</label>
    <input id="email-address" name="email-address" type="email" value="{{ email_address }}">

    <input type="submit">

  </fieldset>
</form>
