{% extends "layout.html" %}

{% block title %}California Emergency Alerts{% endblock %}


{% block main_content %}
  <h1>California Overview</h1>
  <p class="usa-font-lead">The page heading communicates the main focus of the page. Make your page heading descriptive and keep it succinct.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed justo neque, accumsan vitae metus et, laoreet consectetur mi. Ut vel eros tortor. Nulla euismod quis est sed sodales. Donec tellus nisi, varius at congue eu, condimentum at lectus. In convallis, turpis sed condimentum malesuada, lectus nunc gravida odio, id scelerisque est risus vitae purus. Nulla tortor sem, interdum ut scelerisque vitae, interdum sed justo. Morbi urna nisi, luctus pulvinar tortor eget, congue aliquet nisl. Etiam suscipit elementum turpis ac laoreet. Fusce posuere vitae est sed interdum.</p>

  <p>Etiam aliquam congue tempor. Sed hendrerit mi tincidunt, rhoncus massa et, viverra dolor. In id dui viverra velit convallis iaculis nec quis purus. Praesent fringilla augue id ullamcorper elementum. Vivamus auctor condimentum nisl nec egestas. Maecenas condimentum arcu in laoreet semper. Vivamus diam purus, efficitur sit amet posuere a, tempor vel risus.</p>

  <p>Suspendisse vitae diam vel dui scelerisque placerat. Morbi id justo eget risus sagittis finibus a sit amet massa. Duis a venenatis tellus, sed finibus urna. Pellentesque egestas enim dignissim libero tincidunt malesuada. Nunc quis nunc eros. Suspendisse augue eros, consectetur blandit imperdiet eget, porttitor a ante. Nulla iaculis sem eu lorem euismod efficitur. Sed et porta nibh. Nam ut dui eget felis fringilla vulputate vel vel leo</p>
  <p>
  
{% endblock %}
