{% extends "layout.html" %}

{% block title %}California Emergency Alerts{% endblock %}


{% block main_content %}
  <h1>Admin - Current emergencies</h1>

  <form action="{{ url_for('post_send_broadcast_alert') }}" method="post">

  <fieldset>
  <legend>This is the message that will be sent to anyone who has registered to receive admin notifications</legend>
    <label for="emergency-message">SMS Message <span class="usa-form-hint">Maximum 140 characters</span></label>
    <textarea id="emergency-message" name="emergency-message" maxlength="140"></textarea>
    <input id="emergency" type="radio" name="broadcast-notification-types" value="emergency" checked="checked">
    <label for="emergency">Emergency Notification</label>
    <input id="emergency" type="radio" name="broadcast-notification-types" value="non-emergency">
    <label for="non-emergency">Non-Emergency Notification</label>
  </fieldset>

  <button class="usa-button-secondary">Send Alerts</button>

  </form>

  <ol>
    {% for emergency in emergencies %}
        <li>
            {{ emergency.title }}
            <a href="{{ url_for('get_send_alert', type=emergency.type, id=emergency.id) }}">Tell people</a>
        </li>
    {% endfor %}
  </ol>
  
  {% include 'includes/map.html' %}

  <p></p>
  
{% endblock %}
