{% extends "layout.html" %}

{% block title %}California Emergency Alerts{% endblock %}


{% block main_content %}
  <!-- This block would only show for a first-time confirm, after that, this is the profile editing screen -->
  <h1>Phone number confirmed</h1>
  <p class="usa-font-lead">Great, you're all set to receive alerts!</p>
  <p>You can make changes to the alerts you'll receive here. By default, you're signed up to receive all alerts.</p>
  <!-- end confirmation only block -->
  
 {% include 'includes/settings.html' %}

   <form id="log-out" class="usa-form" action="{{ url_for('post_logout') }}" method="post">
    <fieldset>
      <div class="button_wrapper">
		<button>Log out</button>
		</div>
    </fieldset>
  </form>
  
{% endblock %}
