{% extends "layout.html" %}

{% block title %}Sign Up{% endblock %}

{% block sidenav %}
{% endblock %}

{% block main_content %}
   <form id="register" class="usa-form" action="{{ url_for('post_email_confirm') }}" method="post">
    <fieldset>
      <legend>PIN Number</legend>

      {% if error_wrong_pin_number %}
         <div class="usa-alert usa-alert-error" role="alert">
           <div class="usa-alert-body">
             <h3 class="usa-alert-heading">Wrong PIN</h3>
             <p class="usa-alert-text">You entered a wrong PIN number. Try again.</p>
           </div>
         </div>
      {% endif %}
      
      <p>In a few minutes, you should receive a message to the email address you gave us.</p>
      
      <p>Enter the number here:</p>

      <label for="pin-number" class="usa-input-required">PIN number</label>
      <input id="pin-number" name="pin-number" type="text" required="" aria-required="true">
      <input id="email-address" name="email-address" type="hidden" value="{{email_address}}">

      <div class="button_wrapper">
		<button>Submit</button>
		</div>

      <p>If you’ve waited more than 5 minutes, <a href="{{ url_for('get_profile') }}">go back and try again</a>.</p>

    </fieldset>
  </form>
{% endblock %}
