{% extends "layout.html" %}

{% block title %}California Emergency Alerts{% endblock %}

{% block head_elements %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
{% endblock %}

{% block main_content %}
  <h1>Stay connected, be informed.</h1>
  <p class="usa-font-lead">Get fire, flood, earthquake and tsunami emergency alerts from the State of California with just your phone number.</p>

  <div class="button_wrapper">
    <a href="/register" class="usa-button">Get emergency alerts with your phone number</a><!-- should go to /register -->
  </div>

<h2>Current emergencies in the U.S.</h2>
<p>This map shows current emergencies in the United States, using open data from the <a href="https://www.usgs.gov">U.S. Geological Survey</a>, <a href="http://www.noaa.gov">National Oceanic and Atmospheric Administration</a> and the <a href="https://www.doi.gov">U.S. Department of Interior</a>.</p>

  {% include 'includes/map.html' %}

{% endblock %}
