{% extends "layout.html" %}

{% block title %}California Emergency Alerts{% endblock %}


{% block main_content %}
  <h1>California Overview</h1>
  <p class="usa-font-lead">The page heading communicates the main focus of the page. Make your page heading descriptive and keep it succinct.</p>
  {% include 'includes/map.html' %}
 
  <h2 id="section-heading-h2"></h2>
  <p>If you'd like to receive notifications when there are changes, you can sign up for text message alerts with just your phone number.</p>
 
  <div class="button_wrapper">
    <a href="/register" class="usa-button">Sign up</a><!-- should go to /register -->
  </div>
 
{% endblock %}
