{% extends "layout.html" %}

{% block title %}California Emergency Alerts{% endblock %}


{% block main_content %}
  <h1>Compose emergency alert</h1>
  
  <form action="{{ url_for('post_send_alert') }}" method="post">

  	<label for="emergency-message">SMS Message <span class="usa-form-hint">Maximum 140 characters</span></label>
  	<textarea id="emergency-message" name="emergency-message" maxlength="140">Emergency: {{ emergency.description }}&#13;&#10;&#13;&#10;Further info: [URL]</textarea>
    <input type="hidden" name="emergency-type" value="{{ emergency.type }}">
    <input type="hidden" name="emergency-id" value="{{ emergency.id }}">
  	<button class="usa-button-secondary">Send Alerts</button>
  
  </form>
  
{% endblock %}
