{% extends "layout.html" %}

{% block title %}California Emergency Alerts{% endblock %}


{% block main_content %}
  <h1>Admin - Current emergencies</h1>
  
  <form action="{{ url_for('get_sent_alert') }}" method="post">
  
  <fieldset>
  <legend>This is the message that will be sent to anyone who has registered to be notified about this type of event.</legend>
  	<label for="input-type-textarea">SMS Message</label>
  	<textarea id="input-type-textarea" name="input-type-textarea">There is an emergency near you:&#13;&#10;{{ emergency.description }}&#13;&#10;&#13;&#10;Learn more at [URL].</textarea>
  	<p>Maximum 140 characters</p>
  </fieldset>
  
  <input type="hidden" name="emergency-type" value="{{ emergency.type }}">
  <input type="hidden" name="emergency-id" value="{{ emergency.id }}">
  <button class="usa-button-secondary">Send Alerts</button>
  
  </form>
  
{% endblock %}
