{% extends "layout.html" %}

{% block title %}California Emergency Alerts{% endblock %}


{% block main_content %}
  <h1>Admin - Current emergencies</h1>
  
  <fieldset>
  <legend>This is the message that will be sent to anyone who has registered to be notified about this type of event.</legend>
  	<label for="input-type-textarea">SMS Message</label>
  	<textarea id="input-type-textarea" name="input-type-textarea">[pre-fill this with generated information about alert]</textarea>
  	<p>Maximum 140 characters</p>
  	<input id="make-emergency" type="checkbox" name="alert-type" value="truth" checked>
        <label for="make-emergency">This is an emergency</label>
  </fieldset>

  <div class="button_wrapper">
    <!-- [ reinstate this button instead of anchor when form is working ] button>Send alert</button-->
    <a href="/sent" class="usa-button">Send alert</a>
  </div>
   
  
{% endblock %}
