{% extends "layout.html" %}

{% block title %}California Emergency Alerts{% endblock %}


{% block main_content %}
  <h1>Admin - Current emergencies</h1>
  
  <p>You just sent an alert to <strong>one bajillion</strong> people!</p>

  <div>

  <p>Some stats about who it was sent to etc.  <a href="see-more">see more</a></p>

  </div>

  <h3>Previously sent alerts</h3>

  <ul>
    <li>Lorem ipsum</li>
    <li>Lorem ipsum</li>
    <li>Lorem ipsum</li>
    <li>Lorem ipsum</li>
    <li>Lorem ipsum</li>
    <li>Lorem ipsum</li>
    <li>Lorem ipsum</li>
  </ul>


   
  
{% endblock %}
